<a href="https://colab.research.google.com/github/YusufAbdurraahman/python-practice-2/blob/main/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Practice 2**

Latihan menghitung nilai rata-rata

In [7]:
nilai_ujian = []

for i in range(6):
  input_nilai = float(input("Masukkan nilai : "))
  nilai_ujian.append(input_nilai)

rata_rata = sum(nilai_ujian) / len(nilai_ujian)

if rata_rata >= 75:
  print("Lulus")
else:
  print("Tidak lulus")

for l in nilai_ujian:
  print(l)

print(rata_rata)

Masukkan nilai : 100
Masukkan nilai : 95
Masukkan nilai : 99
Masukkan nilai : 98
Masukkan nilai : 100
Masukkan nilai : 100
Lulus
100.0
95.0
99.0
98.0
100.0
100.0
98.66666666666667

Latihan struktur data

In [32]:
data_orang = {
    "1." : {"nama" : "Upi", "umur" : 35},
    "2." : {"nama" : "Kanjut", "umur" : 19},
    "3." : {"nama" : "Celink", "umur" : 30}
}

for key, item in data_orang.items():
  print(f"{key}nama : {item['nama']} \n  umur : {item['umur']}")

orang_ke_2 = data_orang["2."]["umur"]
print(orang_ke_2)

1.nama : Upi
  umur : 35
2.nama : Kanjut
  umur : 19
3.nama : Celink
  umur : 30
19

Latihan Restoran sederhana

In [157]:
print("== Daftar Menu Makanan == \n")

menu_makanan = {
    1: {"nama" : "Turkey Leg", "harga" : 1000000},
    2: {"nama" : "Nasi Kebuli", "harga" : 900000},
    3: {"nama" : "Sushi", "harga": 750000}
}

keranjang = []
total_harga = 0

for nomor, item in menu_makanan.items():
  print(f"{nomor}. Nama makanan  : {item['nama']} \n   Harga Makanan : Rp. {item['harga']}")

print("\n")

while True:
  pilih_menu = int(input("Silahkan pilih menu makanan (ketik q untuk keluar) : "))
  if pilih_menu == 0:
    print("Anda keluar dari daftar menu")
    break

  try:
    if pilih_menu in menu_makanan:
      jumlah_makanan = int(input("Jumlah Makanan : "))

  except ValueError:
    print("Harus memakai angka ! \n")
    continue

  total = menu_makanan[pilih_menu]["harga"]
  total_harga += total

  keranjang.append({
      "Menu" : {menu_makanan[pilih_menu]["nama"]},
      "harga" : {menu_makanan[pilih_menu]["harga"]},
      "jumlah" : {jumlah_makanan}
  })
  print("================================================================ \n")

  print(f"âœ… Ditambahkan {jumlah_makanan}x {menu_makanan[pilih_menu]['nama']} (Rp. {menu_makanan[pilih_menu]['harga']})")


print("\n=== Struk Pembayaran ===")
print(f"Total yang harus dibayar: Rp{total_harga:,}")
print("Terima kasih sudah mampir â˜•ðŸ˜Š")2

== Daftar Menu Makanan ==

1. Nama makanan  : Turkey Leg
   Harga Makanan : Rp. 1000000
2. Nama makanan  : Nasi Kebuli
   Harga Makanan : Rp. 900000
3. Nama makanan  : Sushi
   Harga Makanan : Rp. 750000


Silahkan pilih menu makanan (ketik q untuk keluar) : 1
Jumlah Makanan :
Harus memakai angka !

Silahkan pilih menu makanan (ketik q untuk keluar) : 1
Jumlah Makanan : 2
================================================================

âœ… Ditambahkan 2x Turkey Leg (Rp. 1000000)
Silahkan pilih menu makanan (ketik q untuk keluar) : 1
Jumlah Makanan : 3
================================================================

âœ… Ditambahkan 3x Turkey Leg (Rp. 1000000)
Silahkan pilih menu makanan (ketik q untuk keluar) : 1
Jumlah Makanan : 3
================================================================

âœ… Ditambahkan 3x Turkey Leg (Rp. 1000000)
Silahkan pilih menu makanan (ketik q untuk keluar) : 3
Jumlah Makanan : 10
================================================================

âœ… Ditambahkan 10x Sushi (Rp. 750000)
Silahkan pilih menu makanan (ketik q untuk keluar) : 0
Anda keluar dari daftar menu

=== Struk Pembayaran ===
Total yang harus dibayar: Rp3,750,000
Terima kasih sudah mampir â˜•ðŸ˜Š