<a href="https://colab.research.google.com/github/YusufAbdurraahman/python-practice-2/blob/main/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Practice 2**

Latihan menghitung nilai rata-rata

In [ ]:
nilai_ujian = []

for i in range(6):
  input_nilai = float(input("Masukkan nilai : "))
  nilai_ujian.append(input_nilai)

rata_rata = sum(nilai_ujian) / len(nilai_ujian)

if rata_rata >= 75:
  print("Lulus")
else:
  print("Tidak lulus")

for l in nilai_ujian:
  print(l)

print(rata_rata)

Masukkan nilai : 100
Masukkan nilai : 100
Masukkan nilai : 98
Masukkan nilai : 100
Masukkan nilai : 100
Masukkan nilai : 100
Lulus
100.0
100.0
98.0
100.0
100.0
100.0
99.66666666666667

Latihan struktur data

In [ ]:
data_orang = {
    "1." : {"nama" : "Upi", "umur" : 35},
    "2." : {"nama" : "Kanjut", "umur" : 19},
    "3." : {"nama" : "Celink", "umur" : 30}
}

for key, item in data_orang.items():
  print(f"{key}nama : {item['nama']} \n  umur : {item['umur']}")

orang_ke_2 = data_orang["2."]["umur"]
print(orang_ke_2)

1.nama : Upi
  umur : 35
2.nama : Kanjut
  umur : 19
3.nama : Celink
  umur : 30
19

Latihan Restoran sederhana

In [ ]:
print("== Daftar Menu Makanan == \n")

menu_makanan = {
    1: {"nama" : "Turkey Leg", "harga" : 1000000},
    2: {"nama" : "Nasi Kebuli", "harga" : 900000},
    3: {"nama" : "Sushi", "harga": 750000}
}

keranjang = []
total_harga = 0

for nomor, item in menu_makanan.items():
  print(f"{nomor}. Nama makanan  : {item['nama']} \n   Harga Makanan : Rp. {item['harga']}")

print("\n")

while True:
  pilih = input("Silahkan pilih menu makanan (ketik 0 untuk keluar) : ")

  try:
      pilih_menu = int(pilih)
  except ValueError:
      print("‚ùå Input harus berupa angka!\n")
      continue

  if pilih_menu == 0:
    print("Anda keluar dari daftar menu")
    break

  if pilih_menu in menu_makanan:
    try:
      jumlah_makanan = int(input("Jumlah Makanan : "))

    except ValueError:
      print("Harus memakai angka ! \n")
      continue

    total = menu_makanan[pilih_menu]["harga"]
    total_harga += total

    keranjang.append({
      "Menu" : {menu_makanan[pilih_menu]["nama"]},
      "harga" : {menu_makanan[pilih_menu]["harga"]},
      "jumlah" : {jumlah_makanan}
    })

    print("================================================================ \n")

    print(f"‚úÖ Ditambahkan {jumlah_makanan}x {menu_makanan[pilih_menu]['nama']} (Rp. {menu_makanan[pilih_menu]['harga']})")
  else:
    print("Menu makanan tidak ada")



print("\n=== Struk Pembayaran ===")
print(f"Total yang harus dibayar: Rp{total_harga:,}")
print("Terima kasih sudah mampir ‚òïüòä")

== Daftar Menu Makanan ==

1. Nama makanan  : Turkey Leg
   Harga Makanan : Rp. 1000000
2. Nama makanan  : Nasi Kebuli
   Harga Makanan : Rp. 900000
3. Nama makanan  : Sushi
   Harga Makanan : Rp. 750000


Silahkan pilih menu makanan (ketik 0 untuk keluar) : 2
Jumlah Makanan : 3
================================================================

‚úÖ Ditambahkan 3x Nasi Kebuli (Rp. 900000)
Silahkan pilih menu makanan (ketik 0 untuk keluar) : 0
Anda keluar dari daftar menu

=== Struk Pembayaran ===
Total yang harus dibayar: Rp900,000
Terima kasih sudah mampir ‚òïüòä

Latihan konversi suhu sederhana

In [2]:
input_suhu_cel = float(input("Masukkan suhu Celcius : "))

fahrenheit = (input_suhu_cel * 9/5) + 32
kelvin = input_suhu_cel + 273.15

print("Suhu Celcius ke Fahrenheit adalah : ",fahrenheit)
print("Suhu Celcius ke kelvin adalah : ",kelvin)

Masukkan suhu Celcius : 20
Suhu Celcius ke Fahrenheit adalah :  68.0
Suhu Celcius ke kelvin adalah :  293.15

Latihan penghitung Jumlah Huruf Vokal

In [19]:
input_vokal = input("Masukkan vokal : ")

jumlah_vokal = 0
vokal = "a","i","u","e","o"

for v in input_vokal:
  if v in vokal:
    jumlah_vokal += 1

print("ini adalah vokal", jumlah_vokal)

Masukkan vokal : hehehe
ini adalah vokal 3

Latihan analysis suhu ruangan

In [37]:
list_suhu = []

for hari in range(1,8):
  input_suhu = float(input(f"Masukkan suhu hari ke {hari} : "))
  list_suhu.append(input_suhu)

rata_rata = sum(list_suhu) / len(list_suhu)
suhu_terendah = min(list_suhu)
suhu_tertinggi = max(list_suhu)

print(rata_rata)
print(suhu_terendah)
print(suhu_tertinggi)

Masukkan suhu hari ke 1 : 19
Masukkan suhu hari ke 2 : 33
Masukkan suhu hari ke 3 : 29
Masukkan suhu hari ke 4 : 3
Masukkan suhu hari ke 5 : 35
Masukkan suhu hari ke 6 : 26
Masukkan suhu hari ke 7 : 20
23.571428571428573
3.0
35.0

Latihan ATM sederhana

In [40]:
saldo = 1000000000

print("1. Cek Saldo")
print("2. Tarik Uang")
print("3. Setor Uang")
print("4. Keluar")

while True:
  inputan = int(input("Masukkan pilihan angka : "))

  if inputan == 1:
    print(f"Saldo anda berjumlah Rp. {saldo}")

  if inputan == 2:
    input_jumlah_tarik = float(input("Masukkan jumlah penarikan : Rp. "))
    if input_jumlah_tarik <= saldo:
      saldo -= input_jumlah_tarik

  if inputan == 3:
    input_jumlah_setor = float(input("Masukkan jumlah setor"))
    saldo += input_jumlah_setor

  if inputan == 4:
    print("and keluar dari ATM")
    break

print(f"Jumlah saldo anda di atm adalah Rp.{saldo}")

1. Cek Saldo
2. Tarik Uang
3. Setor Uang
4. Keluar
Masukkan pilihan angka : 1
Saldo anda berjumlah Rp. 1000000000
Masukkan pilihan angka : 2
Masukkan jumlah penarikan : Rp. 10000
Masukkan pilihan angka : 4
and keluar dari ATM
Jumlah saldo anda di atm adalah Rp.999990000.0